<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWu6wRvaT9r59sqsw7tBAUiam-U5a2SvE</string>
	<key>GCM_SENDER_ID</key>
	<string>1061873777145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Angrale.Beekeeper</string>
	<key>PROJECT_ID</key>
	<string>beekeeperapp-9caa4</string>
	<key>STORAGE_BUCKET</key>
	<string>beekeeperapp-9caa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061873777145:ios:fc204dd316a9e788242528</string>
</dict>
</plist>